<div class="background">
    <div class="my-nav">
        <nav>
            <h4 class="my-nav-title"><a href="/mypage" style="color:#86c232">QuickFit</a></h4>           
                    <span class="links"><a href="/mypage" style="color:#86c232">Home</a></span>
                    <span class="links"><a href="/myroutine" style="color:#86c232">Routine</a></span>
                    <span class="links"><a href="/exercises/1" style="color:#86c232">Exercises</a></span>          
        </nav>
    </div>

    <a href="/" class="sign-out">Sign Out</a>   

    <div>

    </div>

    <div class="white-background">
        <div class="profile-info">
            <div class="profile-img">
                <img src="{{theUser.img}}" alt="">
            </div>
            <div class="profile-username">
                <h2>{{theUser.username}}</h2>
            </div>
            <div class="profile-name">
                <h2>{{theUser.name}}</h2>
            </div>

        </div>
    </div>

    <div class="quote">
        {{result}}
    </div>

    <div class="routine-white-background">
        <div class="profile-routine">
            <h1>Todays Workout:</h1>
            <span>
                {{theUser.routine}}
            </span>
        </div>
    </div>



</div>
